<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<!-- Welcome Page Configuration -->
	<welcome-file-list>
		<welcome-file>brokerRegistration.html</welcome-file>
	</welcome-file-list>

	<!-- Servlet Configuration -->
	<servlet>
		<servlet-name>brokerRegistrationServlet</servlet-name>
		<servlet-class>com.groupfive.Insurancemanagementsystem.Controller.BrokerRegistrationServlet</servlet-class>
	</servlet>

	<!-- Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>brokerRegistrationServlet</servlet-name>
		<url-pattern>/BrokerRegistrationServlet</url-pattern>
	</servlet-mapping>

	<!-- Servlet Configuration -->
	<servlet>
		<servlet-name>CustomerManagementServlet</servlet-name>
		<servlet-class>com.groupfive.Insurancemanagementsystem.Controller.CustomerManagementServlet</servlet-class>
		<init-param>
			<param-name>customerDataFile</param-name>
			<param-value>C:/JavaData/customer.json</param-value> <!-- Update to your file path -->
		</init-param>

	</servlet>

	<!-- Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>CustomerManagementServlet</servlet-name>
		<url-pattern>/CustomerManagementServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.groupfive.Insurancemanagementsystem.Controller.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginBroker</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>QuoteServlet</servlet-name>
		<servlet-class>com.groupfive.Insurancemanagementsystem.Controller.QuoteServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>QuoteServlet</servlet-name>
		<url-pattern>/QuoteServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PolicyRenewalServlet</servlet-name>
		<servlet-class>com.groupfive.Insurancemanagementsystem.Controller.PolicyRenewalServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PolicyRenewalServlet</servlet-name>
		<url-pattern>/PolicyRenewalServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PolicyCancellationServlet</servlet-name>
		<servlet-class>com.groupfive.Insurancemanagementsystem.Controller.PolicyCancellationServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PolicyCancellationServlet</servlet-name>
		<url-pattern>/PolicyCancellationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClaimsHistoryServlet</servlet-name>
		<servlet-class>com.groupfive.Insurancemanagementsystem.Controller.ClaimsHistoryServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ClaimsHistoryServlet</servlet-name>
		<url-pattern>/ClaimsHistoryServlet</url-pattern>
	</servlet-mapping>
	


	<context-param>
		<param-name>fileStoragePath</param-name>
		<param-value>C:/JavaData</param-value>
	</context-param>

<servlet>
        <servlet-name>PolicyManagementServlet</servlet-name>
        <servlet-class>com.groupfive.Insurancemanagementsystem.Controller.PolicyManagementServlet</servlet-class>
        <init-param>
            <param-name>policyFilePath</param-name>
            <param-value>C:/JavaData/policies.json</param-value> <!-- Path where the policies.json file will be saved -->
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>PolicyManagementServlet</servlet-name>
        <url-pattern>/PolicyManagementServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>ClaimManagementServlet</servlet-name>
    <servlet-class>com.groupfive.Insurancemanagementsystem.Controller.ClaimManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimManagementServlet</servlet-name>
    <url-pattern>/ClaimManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateClaimServlet</display-name>
    <servlet-name>UpdateClaimServlet</servlet-name>
    <servlet-class>com.groupfive.Insurancemanagementsystem.Controller.UpdateClaimServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClaimServlet</servlet-name>
    <url-pattern>/UpdateClaimServlet</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>ReportingServlet</servlet-name>
    <servlet-class>com.groupfive.Insurancemanagementsystem.Controller.ReportingServlet</servlet-class>
  </servlet>
  
  
  

</web-app>
